.mapgray {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-color: red;
}

.currentlocationbutton {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  z-index: 1400;
}
