.form {
  display: grid;
  gap: 0.5rem;
  margin: 15px;
}

.input {
  padding: 0.5rem;
  font-size: inherit;
  border: 1px solid black;
  border-radius: 0.5rem;
  margin-bottom: 5px;
}

.label {
  font-weight: bold;
  font-size: 12px;
}
